%h1= t("headers.#{params['controller']}.#{params['action']}")
.card.border-light.mb-3
  .card-header
    = link_to 'New Permition role', new_permition_role_path, class:"btn btn-success"
%table.table.table-hover.table-striped
  %thead.thead-dark
    %tr
      %th Role
      %th Permition
      %th Parameter
      %th

  %tbody
    - @permition_roles.each do |permition_role|
      %tr
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{permition_role.id}"]}}= permition_role.role.notation
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{permition_role.id}"]}}= permition_role.permition.act
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{permition_role.id}"]}}= permition_role.parameter
        %td= link_to t('button.destroy'), permition_role, method: :delete, data: { confirm: t('helpers.sure') }, class:"btn btn-danger"
