= form_for @dictionary_access do |f|
  - if @dictionary_access.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dictionary_access.errors.count, "error")} prohibited this dictionary_access from being saved:"
      %ul
        - @dictionary_access.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :information_system
    = f.select :information_system_id,
    options_for_select(InformationSystem.all.map{|t| ["#{t.name} " , t.id]}, f.object.information_system_id),
    {include_blank: true}
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :access_key
    = f.text_field :access_key
  .actions
    = f.submit 'Save'
