%h1= t("headers.#{params['controller']}.#{params['action']}")
.card.border-light.mb-3
  .card-header
    = link_to t('button.new.dictionary_access'), new_dictionary_access_path, class:"btn btn-success"
%input{type: "text", id: "input1", class: "form-control", placeholder: "Ключ доступа для словаря"}
%input{type: "text", id: "input2", class: "form-control", placeholder: "Ключ доступа для информационной системы"}
%button#test.btn.btn-success
  Проверка

%table.table.table-hover.table-striped
  %thead.thead-dark
    %tr
      %th= t('activerecord.attributes.dictionary_access.information_system')
      %th= t('activerecord.attributes.dictionary_access.name')
      %th= t('activerecord.attributes.dictionary_access.access_key')
      %th
  %tbody
    - @dictionary_accesses.each do |dictionary_access|
      %tr
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{dictionary_access.id}"]}}= dictionary_access.information_system.name
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{dictionary_access.id}"]}}= dictionary_access.name
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{dictionary_access.id}"]}}= dictionary_access.access_key
        %td= link_to t('button.destroy'), dictionary_access, method: :delete, data: { confirm: t('helpers.sure') }, class:"btn btn-danger"

