.card.border-dark.mb-3{:style => "max-width: 60rem;"}
  .card-body
    %table.table_index_base
      %tr
        %th= t('activerecord.attributes.dictionary_access.information_system')
        %td= @dictionary_access.information_system.name 
      %tr
        %th= t('activerecord.attributes.dictionary_access.name')
        %td= @dictionary_access.name
      %tr
        %th= t('activerecord.attributes.dictionary_access.access_key')
        %td= @dictionary_access.access_key
.row
  .col-md-6.col-md-offset-2
    = link_to t('button.edit'), edit_dictionary_access_path(@dictionary_access), class: "btn btn-primary"
    = link_to t('button.back'), dictionary_accesses_path, class: "btn btn-danger"
