= form_for @permition do |f|
  - if @permition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@permition.errors.count, "error")} prohibited this permition from being saved:"
      %ul
        - @permition.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :act
    = f.text_field :act
  .field
    = f.label :information_system
    = f.select :information_system_id,
    options_for_select(InformationSystem.all.map{|t| ["#{t.name} " , t.id]}, f.object.information_system_id),
    {include_blank: true} 
  .field
    = f.label :parameter
    = f.text_field :parameter
  .actions
    = f.submit 'Save'
