.col-md-6
  .panel.panel-info
    .panel-heading
      Новый комментарий
      %span.toright
        = link_to_remove_right_group_permition(fn)
      .clearfix
    .panel-body
      .field
        = fn.label :permition
        = fn.select :permition_id,
        options_for_select(Permition.all.map{|t| ["#{t.act} ", t.id]}, fn.object.permition_id),
        {include_blank: true}
      .field
        = fn.label :parameter
        = fn.text_field :parameter
