%h1= t("headers.#{params['controller']}.#{params['action']}")
.card.border-light.mb-3
  .card-header
    = link_to 'New Group right', new_group_right_path, class:"btn btn-success"
%table.table.table-hover.table-striped
  %thead.thead-dark
    %tr
      %th Information system
      %th Group name
      %th Parameter
      %th

  %tbody
    - @group_rights.each do |group_right|
      %tr
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{group_right.id}"]}}= group_right.information_system.name
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{group_right.id}"]}}= group_right.group_name
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{group_right.id}"]}}= group_right.parameter
        %td= link_to t('button.destroy'), group_right, method: :delete, data: { confirm: t('helpers.sure') }, class:"btn btn-danger"
