%h1= t("headers.#{params['controller']}.#{params['action']}")
.card.border-light.mb-3
  .card-header
    = link_to 'New Role group right', new_role_group_right_path, class:"btn btn-success"
%table.table.table-hover.table-striped
  %thead.thead-dark
    %tr
      %th Role
      %th Group right
      %th Parameter
      %th

  %tbody
    - @role_group_rights.each do |role_group_right|
      %tr
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{role_group_right.id}"]}}= role_group_right.role.notation
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{role_group_right.id}"]}}= role_group_right.group_right.group_name
        %td.user_row{"data" => {"content" => ["#{params['controller']}", "#{role_group_right.id}"]}}= role_group_right.parameter
        %td= link_to t('button.destroy'), role_group_right, method: :delete, data: { confirm: t('helpers.sure') }, class:"btn btn-danger"
