= form_for @user do |f|  
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %p
  .lin_gor
  %p.bottom_20
    .row
      .col-md-2
      .lin_ver
      .col-md-6
        = f.label :ln
        = f.text_field :ln, class:"form-control"
        = f.label :fn
        = f.text_field :fn, class:"form-control "
  
        = f.label :sn
        = f.text_field :sn, class:"form-control"
        
        = f.label :bday
        .input-group.datepicker
          = f.text_field :bday, class:"form-control datepicker"
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        
        = f.label :email
        = f.text_field :email, class:"form-control "
        
        = f.label :login
        = f.text_field :login, class:"form-control"
        
        = f.label :sex
        %br
        =# f.select :sex, ['м', 'ж'], {}, class:"form-control selectpicker", data: {value: f.object.sex}
        = f.select :sex, options_for_select(['м', 'ж'], ['м', 'ж']), {include_blank: false}, {class:"form-control selectpicker", data: {value: f.object.sex}}
  
    = hidden_field_tag(:form_id, :role_users)
    %br
    .row
      .col-md-2
      .col-md-6.text-center.bottom_20
        -#.col-md-2.col-md-offset-2
        = link_to t('button.back'), users_path, class: "btn btn-danger", style: "width: 15%; margin-right: 4%"
        -#.col-md-3
        = link_to_add_role_user(f, f.object)
        -#.col-md-2
        = f.submit t('button.save'), class: "btn btn-primary", style: "width: 28%; margin-left: 4%"
        -#.col-md-3
    %p.bottom_20
    .row        
      = f.fields_for :role_users do |fn|
        .col-md-6
          .card.border-primary.mb-3
            .card-header
              .col-md-4
                %span.toright
                  = link_to_remove_role_user(fn)
              .clearfix
            .card-body
              .row
                .col-md-10.col-md-offset-1
                  = fn.label :role
                  = fn.select :role_id,
                  options_for_select(Role.all.map{|t| ["#{t.notation} " + " #{t.name}", t.id]}, fn.object.role_id),
                  {include_blank: true}, class:"form-control "
        
                  = fn.label :information_system
                  = fn.select :information_system_id,
                  options_for_select(InformationSystem.all.map{|t| ["#{t.name}", t.id]}, fn.object.information_system_id),
                  {include_blank: true}, class:"form-control "
        
                  = fn.label :parameter
                  = fn.text_field :parameter, class:"form-control "

