= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %table
    %thead
      %tr
        %td= f.label :ln
        %td= f.text_field :ln, class:"form-control is-invalid"
      %tr
        %td
      %tr
        %td= f.label :fn
        %td= f.text_field :fn, class:"form-control is-invalid"
      %tr
        %td= f.label :sn
        %td= f.text_field :sn, class:"form-control"
      %tr
        %td= f.label :bday
        %td= f.date_select :bday, class:"form-control is-invalid"
      %tr
        %td= f.label :email
        %td= f.text_field :email, class:"form-control is-invalid"
      %tr
        %td= f.label :login
        %td= f.text_field :login, class:"form-control is-invalid"
      %tr
        %td= f.label :sex
        %td= f.select :sex, ['м', 'ж']
  .actions
    = f.submit t('button.save')
