%p
  %div.fio= @user.ln + ' ' + @user.fn + ' ' + @user.sn
%p
.lin_gor
%p
  .row
    .col-md-2
      %img{:src => "/images/person.png", :width=>"170", :height=>"180"}
    .lin_ver
    .col-md-6
      %table.table_index
        %tr
          %th= t('activerecord.attributes.user.ln')
          %td= @user.ln  
        %tr
          %th= t('activerecord.attributes.user.fn')
          %td= @user.fn
        %tr
          %th= t('activerecord.attributes.user.sn')
          %td= @user.sn
        %tr
          %th= t('activerecord.attributes.user.bday')
          %td= @user.bday
        %tr
          %th= t('activerecord.attributes.user.email')
          %td= @user.email
        %tr
          %th= t('activerecord.attributes.user.login')
          %td= @user.login
        %tr
          %th= t('activerecord.attributes.user.sex')
          %td= @user.sex
        
.row
  .col-md-6.col-md-offset-2
    = link_to t('button.edit'), edit_user_path(@user), class: "btn btn-primary"
    = link_to t('button.back'), users_path, class: "btn btn-danger"
