.col-md-6
  .panel.panel-info
    .panel-heading
      Новые права на конкретные действия
      %span.toright
        = link_to_remove_permition(fn)
      .clearfix
    .panel-body
      .field
        = fn.label :act
        = fn.text_field :act
      .field
        = fn.label :parameter
        = fn.text_field :parameter
