= form_for @information_system do |f|
  - if @information_system.errors.any?
    #error_explanation
      %h2= "#{pluralize(@information_system.errors.count, "error")} prohibited this information_system from being saved:"
      %ul
        - @information_system.errors.full_messages.each do |message|
          %li= message
  .lin_gor
  %p
    .row
      .col-md-2
      .lin_ver
      .col-md-6  
        = f.label :name
        = f.text_field :name, class:"form-control "
        = f.label :link
        = f.text_field :link, class:"form-control "
        = f.label :access_key
        = f.text_field :access_key, class:"form-control "

  = hidden_field_tag(:form_id, :permitions)
  %br
  .row
    .col-md-12
      .col-md-1.col-md-offset-2
        = link_to t('button.back'), information_systems_path, class: "btn btn-danger"
      = link_to_add_permition(f, f.object)
      = link_to_add_dictionary_access(f, f.object)
      = f.submit t('button.save'), class: "btn btn-primary" 
  .row
    .col-md-6#qq2
      = f.fields_for :permitions do |fn|
        .col-md-6
          .panel.panel-info
            .panel-heading
              %span.toright
                = link_to_remove_permition(fn)
                .clearfix
            .panel-body
              .field
                = fn.label :act
                = fn.text_field :act
              .field
                = fn.label :parameter
                = fn.text_field :parameter

      
    .col-md-6#qqe
      = f.fields_for :dictionary_accesses do |fn|
        .col-md-6
          .panel.panel-info
            .panel-heading
              %span.toright
                = link_to_remove_dictionary_access(fn)
                .clearfix
            .panel-body
              .field
                = f.label :information_system
                = f.select :information_system_id,
                options_for_select(InformationSystem.all.map{|t| ["#{t.name} " , t.id]}, f.object.information_system_id),
                {include_blank: true}
              .field
                = f.label :name
                = f.text_field :name
              .field
                = f.label :access_key
                = f.text_field :access_key

