.card.border-dark.mb-3{:style => "max-width: 60rem;"}
  .card-header.fio
    = @information_system.name
  .card-body
    %table.table_index_base
      %tr
        %th= t('activerecord.attributes.information_system.link')
        %td= @information_system.link 
      %tr
        %th= t('activerecord.attributes.information_system.access_key')
        %td= @information_system.access_key
    %br
    %p.card-text
      %b Доступные словари
      %ul
        - @information_system.dictionary_accesses.all.each do |d|
          %li= link_to d.name, d 
.row
  .col-md-6.col-md-offset-2
    = link_to t('button.edit'), edit_information_system_path(@information_system), class: "btn btn-primary"
    = link_to t('button.back'), information_systems_path, class: "btn btn-danger"
