%p#notice= notice

%p
  %b User:
  = @role_user.user
%p
  %b Role:
  = @role_user.role
%p
  %b Parameter:
  = @role_user.parameter
%p
  %b Information system:
  = @role_user.information_system

= link_to 'Edit', edit_role_user_path(@role_user)
\|
= link_to 'Back', role_users_path
