.col-md-12
  .card.border-primary.mb-3
    .card-header2
      .col-md-4
        Добавить группу прав
      .col-md-2.col-md-offset-6
        %span
          = link_to_remove_role_group_right(fn)
        .clearfix
    .panel-body
      .field
        = fn.label :group_right
        = fn.select :group_right_id,
        options_for_select(GroupRight.all.map{|t| ["#{t.group_name} ", t.id]}, fn.object.group_right_id),
        {include_blank: true}
      .field
        = fn.label :parameter
        = fn.text_field :parameter
