.col-md-12
  .card.border-success.mb-3
    .card-header.succes
      .col-md-4
        Добавить право
      .col-md-2.col-md-offset-6
        %span
          = link_to_remove_permition_role(fn)
        .clearfix
    .panel-body
      .field
        = fn.label :permition
        = fn.select :permition_id,
        options_for_select(Permition.all.map{|t| ["#{t.act} ", t.id]}, fn.object.permition_id),
        {include_blank: true}
      .field
        = fn.label :parameter
        = fn.text_field :parameter
