= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |message|
          %li= message
  .lin_gor
  %p.bottom_20
    .row
      .col-md-2
      .lin_ver
      .col-md-6  
        = f.label :notation
        = f.text_field :notation, class:"form-control "
        = f.label :name
        = f.text_field :name, class:"form-control "
        = f.label :short_name
        = f.text_field :short_name, class:"form-control "
        = f.label :description
        = f.text_field :description, class:"form-control "
  
  -#= hidden_field_tag(:form_id, :role_group_rights)
  %br
  .row
    .col-md-12
      .col-md-1.col-md-offset-2
        = link_to t('button.back'), roles_path, class: "btn btn-danger"
      = link_to_add_permition_role(f, f.object)
      = link_to_add_role_group_right(f, f.object)
      = f.submit t('button.save'), class: "btn btn-primary" 
  %p.bottom_20
  .row
    .col-md-6#qq1
      = f.fields_for :role_group_rights do |fn|
        .col-md-6
          .panel.panel-info
            .panel-heading
              %span.toright
                = link_to_remove_role_group_right(fn)
                .clearfix
            .panel-body
              .field
                = fn.label :group_right
                = fn.select :group_right_id,
                options_for_select(GroupRight.all.map{|t| ["#{t.group_name} ", t.id]}, fn.object.group_right_id),
                {include_blank: true}
              .field
                = fn.label :parameter
                = fn.text_field :parameter
          

      
    .col-md-6#qqw
      = f.fields_for :permition_roles do |fn|
        .col-md-6
          .panel.panel-info
            .panel-heading
              %span.toright
                = link_to_remove_permition_role(fn)
                .clearfix
            .panel-body
              .field
                = fn.label :permition
                = fn.select :permition_id,
                options_for_select(Permition.all.map{|t| ["#{t.act} ", t.id]}, fn.object.permition_id),
                {include_blank: true}
              .field
                = fn.label :parameter
                = fn.text_field :parameter

